{% extends "base.html" %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<div class="centralize">
	<p>
		A scalable and efficient clone of Twitter.
		
		This is meant to be an exercise, or a practice of sorts, to build a website with only the core functionalities of twitter and should be scalable as twitter.com, even though there are no plans to host it  on such scale.
		
		This is a side project, meant for educational/development purposes only.
		
		No intellectual copyright of twitter.com is intended and this site will not serve any commercial purposes.
	</p>
</div>
{% endblock content %}