{% extends "base.html" %}

{% load tweet_tags %}

{% block title %}
{{ user.get_full_name }} ({{ user }}) | TwitterX
{% endblock title %}

{% block content %}
<div class="centralize">
	<div style="height: 5vh;" role="heading">
		<h2>
			{{ user.first_name }}
		</h2>
	</div>
	<div role="main" style="height: 100%;">
		<div id="details" style="height: auto">
			<div>
				<div style="width: auto; float: left;">				
					<div id="full-name">
						{{ user.get_full_name }}
					</div>
					<div id="username">
						{{ user }}
					</div>
					<div>
						<p>
							{% with follower_count=user.followers.all.count %}
							{{ user.follows.all.count }} following, {{ follower_count }} follower{{ follower_count|pluralize }}.
							{% endwith %}
						</p>
					</div>
					<div id="joined" style="text-align: right;">
						Joined {{ user.date_joined|date:"F, Y" }}
					</div>
				</div>
				<div style="float: right;">
					
					<a href="{% if request.user.is_authenticated and request.user == user %}{% url 'profiles:picture' %}{% endif %}">
						<img class="border border-primary rounded-circle img-fluid profile" src="{{ user.profile_pic.url }}" width="120" height="120">
					</a>
				</div>
				<div style="clear: both;"></div>
			</div>
			{% if request.user.is_authenticated and request.user != user %}
			<hr>
			<form method="post" action="{% url 'profiles:follow' user.username %}">
				{% csrf_token %}
				<div class="d-grid gap-2">
					<button onclick="follow(this.getAttribute('data-bs-user'))" id="follow-button" class="btn btn-primary follow-button" type="submit" data-bs-user="{{ user }}" >
						{% if user in request.user.follows.all %}
						Unfollow
						{% else %}
						Follow
						{% endif %}
					</button>
				</div>
			</form>
			{% endif %}
		</div>
		<div>
			<ul class="nav nav-tabs nav-justified">
				<li class="nav-item">
				  <a class="nav-link {{ is_profile }}" href="{% url 'profiles:profile' user.username %}">
					Tweets
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link {{ is_with_replies }}" href="{% url 'profiles:with_replies' user.username %}">
					Tweets with replies
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link {{ is_likes }}" href="{% url 'profiles:likes' user.username %}">
					Likes
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link disabled">
					Media
				  </a>
				</li>
			  </ul>
		</div>
		<div id="tweets">
			{% block tweets %}
			{% render_multiple_tweets user.get_timeline_tweets request.user with_menu=True %}
			{% endblock tweets %}
		</div>
	</div>
</div>
{% endblock content %}