{% extends "base.html" %}

{% load tweet_tags %}

{% block title %}
{{ user.username }}'s profile
{% endblock title %}

{% block content %}
<div class="centralize">
	<div style="height: 5vh;" role="heading">
		<h2>
			{{ user.first_name }}
		</h2>
	</div>
	<div role="main" style="height: 100%;">
		<div id="details" style="height: auto">
			<div>
				<div style="width: auto; float: left;">				
					<div id="full-name">
						{{ user.get_full_name }}
					</div>
					<div id="username">
						{{ user }}
					</div>
					<div>
						<p>
							{% with follower_count=user.followers.all.count %}
							{{ user.follows.all.count }} following, {{ follower_count }} follower{{ follower_count|pluralize }}.
							{% endwith %}
						</p>
					</div>
					<div id="joined" style="text-align: right;">
						Joined {{ user.date_joined|date:"F, Y" }}
					</div>
				</div>
				<div style="float: right;">
					
					<a href="{% if request.user.is_authenticated and request.user == user %}{% url 'profiles:picture' %}{% endif %}">
						<img class="border border-primary rounded-circle img-fluid profile" src="{{ user.profile_pic.url }}" width="120" height="120">
					</a>
				</div>
				<div style="clear: both;"></div>
			</div>
			{% if request.user.is_authenticated and request.user != user %}
			<hr>
			<form method="post" action="{% url 'profiles:follow' user.username %}">
				{% csrf_token %}
				<div class="d-grid gap-2">
					<button onclick="follow()" id="follow-button" class="btn btn-primary" type="submit">
						{% if user in request.user.follows.all %}
						Unfollow
						{% else %}
						Follow
						{% endif %}
					</button>
				</div>
			</form>
			{% endif %}
		</div>
		<div id="tweets">
			{% render_multiple_tweets user.get_timeline_tweets request.user %}
		</div>
	</div>
</div>
{% endblock content %}