{% extends "base.html" %}

{% block title %}
{{ user.username }}'s profile
{% endblock title %}

{% block content %}
<div class="centralize">
	<div style="height: 5vh;" role="heading">
		<h2>
			{{ user.first_name }}
		</h2>
	</div>
	<div role="main" style="height: 100%;">
		<div id="details" style="height: 10vh;">
			<div id="full-name">
				{{ user.get_full_name }}
			</div>
			<div id="username">
				{{ user }}
			</div>
			<div>
				<p>
					{% with follower_count=user.followers.all.count %}
					{{ user.follows.all.count }} following, {{ follower_count }} follower{{ follower_count|pluralize }}.
					{% endwith %}
				</p>
			</div>
			<div id="joined" style="text-align: right;">
				Joined {{ user.date_joined|date:"F, Y" }}
			</div>
			{% if request.user.is_authenticated and request.user != user %}
			<form method="post" action="{% url 'profiles:follow' user.username %}">
				{% csrf_token %}
				<div class="d-grid gap-2">
					<button onclick="follow()" id="follow-button" class="btn btn-primary" type="submit">
						{% if user in request.user.follows.all %}
						Unfollow
						{% else %}
						Follow
						{% endif %}
					</button>
				</div>
			</form>
			{% endif %}
		</div>
		<div id="tweets">
			<h4>
				Tweets will go here.
			</h4>
		</div>
	</div>
</div>
{% endblock content %}