{% extends "base.html" %}

{% load tweet_tags %}

{% block content %}
<div class="centralize-75">
	<h2>
		Trending
	</h2>
	<div>
		{% render_multiple_tweets tweets request.user with_menu=True %}
	</div>
	<hr>
	<h3>
		Tags
	</h3>
	<hr>
	<ul class="list-group" id="trending-tags">
		{% for tag, volume in trending_tags %}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<a href="#">
				<div class="ms-2 me-auto">
					<div class="fw-bold">
						<h4>
							#{{ tag }}
						</h4>
					</div>
					{{ volume }} tweets
				</div>
			</a>
		</li>
		{% empty %}
		<h3>
			No trending tags found
		</h3>
		{% endfor %}
	</ul>
	<hr>
	<h3>
		Keywords
	</h3>
	<hr>
	<ul class="list-group bg-transparent" id="trending-keywords">
		{% for keyword, volume in trending_keywords %}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<a href="#">
				<div class="ms-2 me-auto">
					<div class="fw-bold">
						<h4>
							{{ keyword }}
						</h4>
					</div>
					{{ volume }} tweets
				</div>
			</a>
		</li>
		{% empty %}
		<h3>
			No trending words found
		</h3>
		{% endfor %}
	</ul>
	<hr>
	<h3>
		Users
	</h3>
	<hr>
	<ul class="list-group bg-transparent" id="trending-users">
		{% for user, volume in trending_users %}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<a href="{{ user.get_absolute_url }}">
				<div class="ms-2 me-auto">
					<div class="fw-bold">
						<h4>
							{{ user }}
						</h4>
					</div>
					{{ volume }} tweets
				</div>
			</a>
		</li>
		{% empty %}
		<h3>
			No trending users found
		</h3>
		{% endfor %}
	</ul>
</div>
{% endblock content %}