{% load tweet_tags %}

<div>
	<a href="#" class="btn btn-outline-primary rounded-pill" type="button" data-bs-toggle="modal" data-bs-target="#tweetModal">
		Tweet
	</a>

	<div class="modal fade" id="tweetModal" tabindex="-1" aria-labelledby="tweetModalLabel" aria-hidden="true">
		<form method="post" action="{% url 'tweets:new_tweet' %}">
			{% csrf_token %}
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<svg viewBox="0 0 24 24">
								<path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z">
								</path>
							</svg>
						</button>
					</div>
					<div class="modal-body" style="text-align: left;">
						<div>
							<div style="float: left;">
								<div class="col-sm" style="padding: 0%;">
									<img src="{{ user.profile_pic.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
								</div>
							</div>
							<div style="float: right; width: 90%;">
								<input class="form-control" type="text" name="text" placeholder="What's on your mind?" style="width: 100%;" required>
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
							Tweet
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>