<div role="menu">
	<div class="dropdown">
		<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			<svg viewBox="0 0 24 24">
				<path d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z">
				</path>
			</svg>
		</button>
		<ul class="dropdown-menu no-padding">
			{% if user == tweet.author %}
			<li>
				<form method="post" action="{% url 'tweets:delete' tweet.pk %}" class="require-redirect-input">
					{% csrf_token %}
					<button class="menu-button dropdown-item btn btn-outline-danger no-padding" role="button" type="submit">
						<a class="btn btn-outline-danger no-padding">
							<svg viewBox="0 0 24 24">
								<path d="M16 6V4.5C16 3.12 14.88 2 13.5 2h-3C9.11 2 8 3.12 8 4.5V6H3v2h1.06l.81 11.21C4.98 20.78 6.28 22 7.86 22h8.27c1.58 0 2.88-1.22 3-2.79L19.93 8H21V6h-5zm-6-1.5c0-.28.22-.5.5-.5h3c.27 0 .5.22.5.5V6h-4V4.5zm7.13 14.57c-.04.52-.47.93-1 .93H7.86c-.53 0-.96-.41-1-.93L6.07 8h11.85l-.79 11.07zM9 17v-6h2v6H9zm4 0v-6h2v6h-2z">
								</path>
							</svg>
							Delete this tweet
						</a>
					</button>
				</form>
			</li>
			{% else %}
			<li>
				<div class="dropdown-item no-padding">
					<form method="post" action="{% url 'profiles:follow' tweet.author.username %}">
						{% csrf_token %}
						<div class="d-grid gap-2">
							<button onclick="follow(this.getAttribute('data-bs-user'))" id="follow-button" class="btn btn-outline-primary follow-button" type="submit" data-bs-user="{{ tweet.author }}">
								{% if tweet.author in user.follows.all %}
								Unfollow
								{% else %}
								Follow
								{% endif %}
								{{ tweet.author }}
							</button>
						</div>
					</form>
				</div>
			</li>
			{% endif %}
		</ul>
	  </div>
</div>