{% load tweet_tags %}

<div>
	<button	class="retweet-button btn circular{% if user in tweet.likes.all %} active {% endif %}" type="button" data-bs-toggle="modal" data-bs-target="#retweetModal{{ tweet.pk }}">
		<svg viewBox="0 0 24 24">
			<path d="M4.5 3.88l4.432 4.14-1.364 1.46L5.5 7.55V16c0 1.1.896 2 2 2H13v2H7.5c-2.209 0-4-1.79-4-4V7.55L1.432 9.48.068 8.02 4.5 3.88zM16.5 6H11V4h5.5c2.209 0 4 1.79 4 4v8.45l2.068-1.93 1.364 1.46-4.432 4.14-4.432-4.14 1.364-1.46 2.068 1.93V8c0-1.1-.896-2-2-2z">
			</path>
		</svg>
		{% with c=tweet.retweets.count %}{% if c %}{{ c }}{% endif %}{% endwith %}
	</button>

	<div class="modal fade" id="retweetModal{{ tweet.pk }}" tabindex="-1" aria-labelledby="retweetModalLabel" aria-hidden="true">
		<form method="post" action="{% url 'tweets:new_tweet' %}">
			{% csrf_token %}
			<input name="retweet_id" value="{{ tweet.pk }}" type="hidden">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<svg viewBox="0 0 24 24">
								<path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z">
								</path>
							</svg>
						</button>
					</div>
					<div class="modal-body" style="text-align: left;">
						<div>
							<div style="float: left;">
								<div class="col-sm" style="padding: 0%;">
									<img src="{{ user.profile_pic.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
								</div>
							</div>
							<div style="float: right; width: 90%;">
								<textarea class="form-control" name="text" placeholder="Add a comment" style="width: 100%;" required></textarea>
							</div>
							<div style="clear: both;"></div>
						</div>
						<div style="padding-left: 10%;">
							<div class="card bg-transparent no-click">
								{% render_tweet_head tweet user %}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
							Retweet
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>