{% extends "base.html" %}

{% load form_tags %}

{% block title %}
Confirm Delete?
{% endblock title %}

{% block content %}
<div id="delete-profile" style="margin: auto;">
	<h3 style="text-align: center;">
		Are you sure?
	</h3>
	<h4>
		<p>
			This will delete your account and tweets, it is irreversible and there will be no soul refunds.
		</p>
	</h4>
	<p style="text-align: center;">
		Please enter {{ request.user }} to continue
	</p>
	<div style="margin: auto; text-align: center;" id="submit" class="centralize">
		<form action="{% url 'users:delete' %}" method="post">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group row">
				<div for="{{ field.label }}" class="col-sm-2 col-form-label">
					{{ field.label_tag }}
				</div>
				<div class="col-sm-10">
					{{ field|add_classes:'form-control'}}
					{% if field.help_text %}
					<small class="form-text text-muted">
						{{ field.help_text }}
					</small>
					{% endif %}
					{% if field.errors %}
					<small class="form-text text-muted">
						<div class="text-danger">
							{{ field.errors }}
						</div>
					</small>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<br>
			<input type="submit" value="Yes, wipe everything." class="btn btn-danger">
		</form>
	</div>
</div>
{% endblock content %}