{% extends "base.html" %}

{% load form_tags %}

{% block title %}
Edit {{ request.user }}'s info
{% endblock title %}

{% block content %}
<div id="edit-profile" style="margin: auto;">
	<p style="text-align: center; padding-bottom: 5%;">
		<h3>
			Edit your profile details
		</h3>
		<p>
			Each profile update is charged at one soul each
		</p>
	</p>
	</br>
	<div id="form-table">
		<form action="{% url 'users:edit' %}" method="post">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group row">
				<div for="{{ field.label }}" class="col-sm-2 col-form-label">
					{{ field.label_tag }}
				</div>
				<div class="col-sm-10">
					{{ field|add_classes:'form-control'}}
					{% if field.help_text %}
						<small class="form-text text-muted">{{ field.help_text }}</small>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			</br>
			<div class="container text-center" style="margin: auto;">
				<div class="row">
					<div class="col-8">
						<input type="submit" value="Update details" class="btn btn-primary">
					</div>
				</div>
			</div>
		</form>
	</div>
	<hr>
	<div class="container text-center" id="settings">
		<p>
			Other settings
		</p>
		<div class="row">
			<div class="col">
				<a href="{% url 'users:delete' %}" class="btn btn-outline-danger text-nowrap">
					Delete my account
				</a>
			</div>
			<div class="col">
				<a href="{% url 'users:password_change' %}" class="btn btn-outline-primary">
					Change password
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}