{% extends "base.html" %}

{% load form_tags %}

{% block title %}
Login to TwitterX
{% endblock title %}

{% block content %}
<div>
	<div id="login" style="height: 40%;">
		<form method="post" action="{% url 'users:login' %}" style="text-align: center;">
			{% csrf_token %}
			<p>
				Enter username or email
			</p>
			{% for field in form %}
			<div class="form-group row" style="margin: auto; width: 40%;">
				<div for="{{ field.label }}" class="col-sm-2 col-form-label">
					{{ field.label_tag }}
				</div>
				<div class="col-sm-10">
					{{ field|add_classes:'form-control'}}
					{% if field.help_text %}
						<small class="form-text text-muted">{{ field.help_text }}</small>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<br>
			<input type="hidden" name="r" value="{{ r }}">
			<input type="submit" value="Login" class="btn btn-primary">
		</form>
	</div>
	<div>
		<div style="text-align: center; float: left; width: 50%;">
			<p>
				<a href="{% url 'users:signup' %}" class="btn btn-outline-primary">
					Sign up instead
				</a>
			</p>
		</div>
		<div style="text-align: center; float: right; width: 50%;">
			<p>
				<a href="{% url 'users:password_reset' %}" class="btn btn-outline-primary">
					Forgot password?
				</a>
			</p>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
{% endblock content %}