{% extends "base.html" %}

{% block title %}
Password changed
{% endblock title %}

{% block content %}
<div class="container text-center" style="margin: auto;">
	<div id="password-change-done">
		<p>
			<h2>
				You have changed your password
			</h2>
			You have been logged out of all other other devices.
		</p>
		<div class="row">
			<div class="col">
				<a href="{% url 'twitterx:home' %}" class="btn btn-outline-primary text-nowrap">
					Continue to home.
				</a>
			</div>
			<div class="col">
				<a href="{% url 'profiles:edit' %}" class="btn btn-outline-primary text-nowrap">
					Edit your profile details.
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}