{% extends "base.html" %}

{% block title %}
Reset succesful
{% endblock title %}

{% block content %}
<div class="container text-center" style="margin: auto;">
	<div id="password-change-complete">
		<p>
			<h2>
				You have reset your password
			</h2>
		</p>
		<div class="row">
			<div class="col">
				<a href="{% url 'twitterx:home' %}" class="btn btn-outline-primary text-nowrap">
					Continue to home.
				</a>
			</div>
			<div class="col">
				<a href="{% url 'users:login' %}" class="btn btn-primary text-nowrap">
					Login
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}