{% extends "base.html" %}

{% load form_tags %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="container" style="margin: auto;">
	<div id="password-reset">
		<p>
			<h2>
				Reset your password
			</h2>
			It is now free to reset your password, TwitterX does not charge a soul anymore; beware of fraudsters.
		</p>
		<form method="post" action="{% url 'users:password_reset' %}">
			{% csrf_token %}
			<p style="text-align: center;">
				Enter the email linked to your account. You will not get an email if it is not connected to a TwitterX account.
			</p>
			<div class="form-group row" style="margin: auto; width: 40%;">
				{% render_bootstrap_form form %}
			</div>
			<br>
			<div class="container text-center">
				<input type="submit" value="Send the email" class="btn btn-outline-success">
			</div>	
		</form>
	</div>
</div>
{% endblock content %}