{% extends "base.html" %}

{% block title %}
Password Reset
{% endblock title %}

{% block content %}
<div class="container text-center" style="margin: auto;">
	<div id="password-change-done">
		<p>
			<h3>
				We sent a link to your mail.
			</h3>
			Follow the link to reset your password.
		</p>
		<div class="row">
			<div class="col">
				<a href="{% url 'twitterx:home' %}" class="btn btn-outline-primary text-nowrap">
					Continue to home.
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}