{% extends "base.html" %}

{% load form_tags %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
<div class="container" style="margin: auto;">
	<div id="password-change">
		<p>
			<h2>
				Change your password
			</h2>
			It is now free to change your password, TwitterX does not charge a soul anymore; beware of fraudsters.
		</p>
		<form method="post" action="{% url 'users:password_change' %}">
			{% csrf_token %}
			<div class="form-group row" style="margin: auto; width: 40%;">
				{% render_bootstrap_form form %}
			</div>
			<br>
			<div class="container text-center">
				<input type="submit" value="Change password" class="btn btn-success">
			</div>	
		</form>
	</div>
</div>
{% endblock content %}