{% extends "base.html" %}

{% load form_tags %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="container" style="margin: auto;">
	<div id="password-reset">
		<p>
			<h2>
				Reset your password
			</h2>
			It is now free to reset your password, TwitterX does not charge a soul anymore; beware of fraudsters.
		</p>
		<form method="post" action="{% url 'users:password_reset' %}">
			{% csrf_token %}
			<p style="text-align: center;">
				Enter the email linked to your account. You will not get an email if it is not connected to a TwitterX account.
			</p>
			{% for field in form %}
			<div class="form-group row" style="margin: auto; width: 40%;">
				<div for="{{ field.label }}" class="col-sm-2 col-form-label">
					{{ field.label_tag }}
				</div>
				<div class="col-sm-10">
					{{ field|add_classes:'form-control'}}
					{% if field.help_text %}
					<small class="form-text text-muted">
						{{ field.help_text }}
					</small>
					{% endif %}
					{% if field.errors %}
					<small class="form-text text-muted">
						<div class="text-danger">
							{{ field.errors }}
						</div>
					</small>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<br>
			<div class="container text-center">
				<input type="submit" value="Send the email" class="btn btn-outline-success">
			</div>	
		</form>
	</div>
</div>
{% endblock content %}