button.comment-button svg{
    width: 15px;
    height: 15px;
}
.comment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: auto;
}
.comment-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.comment-button svg {
  opacity: 1;
}
.comment-button svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.comment-button.active svg path {   
  fill: #f32121;
}  
.comment-button:hover {
  background: rgba(0, 110, 255, 0.2);
}