button.comment-button svg{
    width: 15px;
    height: 15px;
}
.comment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    margin: auto;
}
.comment-button svg {
  opacity: 1;
}
.comment-button svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.comment-button.active svg path {   
  fill: rgb(0, 110, 255);
}
.comment-button:hover {
  background: rgba(0, 110, 255, 0.2);
}