button.like-button svg{
    width: 15px;
    height: 15px;
}
.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
    margin: auto;
}
.like-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button svg {
  opacity: 1;
}
.like-button svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.like-button.active svg path {   
  fill: rgb(249, 24, 128);
}
.like-button:hover {
  background: rgba(249, 24, 128, 0.2);
}