{% extends "base.html" %}

{% load tweet_tags %}

{% block title %}
Notifications | TwitterX
{% endblock title %}

{% block content %}
<div class="centralize container">
	<h2 class="text-end">
		Notifications
		<div class="text-muted">
			<a href="{% url 'notifications:all' %}" class="btn btn-sm btn-outline-secondary">
				Show all
			</a>
		</div>
	</h2>
	<hr>
	{% for message in messages %}
	<div class="card bg-transparent">
		<a href="{{ message.link }}" class="text-white">
			<div class="card-body">
				<div class="row">
					<div class="col-8" style="width: 90%;">
						<h4>
							{{ message }}
						</h4>
					</div>
					<div class="col-sm">
						{{ message.created|time_format }}
					</div>
				</div>
			</div>
		</a>
	</div>
	<br>
	{% empty %}
	<div>
		<h3>
			No Notifications yet.
		</h3>
	</div>
	{% endfor %}
</div>
{% endblock content %}